<h1>Movies List</h1>

<%= link_to "Upload Movie", new_movie_path %>
<br/>
<br/>

<% @movies.each do |movie| %>
  <div class="row">
    <div class="col-xs-6"><%= movie.media_file_file_name %></div>
    <div class="col-xs-3"><%= link_to "Watch Movie", movie_path(movie) %></div>
    <div class="col-xs-3"><%= link_to "Delete Movie", movie_path(movie), method: :delete %></div>
  </div>
<% end %>

<script>
  var dispatcher = new WebSocketRails('localhost:3000/websocket');

  dispatcher.on_open = function(data) {
    console.log('Connection has been established: ', data);
    // You can trigger new server events inside this callback if you wish.
  }

  dispatcher.trigger('whoami',"finding myself");

  dispatcher.bind('youare', function(data) {
    console.log('You are ' + data);
  });
</script>
