<h1>Movies List</h1>

<%= link_to "Upload Movie", new_movie_path %>

<% @movies.each do |movie| %>
  <p><%= movie.media_file_file_name %></p>
<% end %>

<script>
  var dispatcher = new WebSocketRails('localhost:3000/websocket');

  dispatcher.on_open = function(data) {
    console.log('Connection has been established: ', data);
    // You can trigger new server events inside this callback if you wish.
  }

  dispatcher.trigger('whoami',"finding myself");

  dispatcher.bind('youare', function(data) {
    console.log('You are ' + data);
  });
</script>
