<br/>
<div align="center">
<video controls id="movie">

  <source src="<%= @movie.media_file.url %>" type="<%= @movie.media_file.content_type %>" />

  <em>Sorry, your browser doesn't support HTML5 video.</em>

</video>

<p><%= link_to "Back to Movie List", movies_path %></p>
</div>

<script>
  var dispatcher = new WebSocketRails('localhost:3000/websocket');

  dispatcher.on_open = function(data) {
    console.log('Connection has been established: ', data);
    // You can trigger new server events inside this callback if you wish.
  }

  dispatcher.trigger('whoami',"finding myself");

  dispatcher.bind('youare', function(data) {
    console.log('You are ' + data);
  });

  var control_channel = dispatcher.subscribe('<%= @movie.media_file_file_name %>');
  var video = document.getElementById("movie");

  control_channel.bind('play', function(data) {
    video.play();
  });
  control_channel.bind('pause', function(data) {
    video.pause();
  });
  control_channel.bind('stop', function(data) {
    video.currentTime = 0;
  });
  control_channel.bind('fastforward', function(data) {
    video.currentTime += 4;
  });
  control_channel.bind('rewind', function(data) {
    video.currentTime -= 4;
  });
</script>
